
#incrementbtn,#decrementbtn{
    display:flex;
    align-items:center;
    color: rgb(163, 6, 40);
    background-color:rgba(124, 136, 128, 0.911);
    margin-left:50%;
    width:100px;
    height:30px;
    padding:10px;
}
#result{
    display:flex;
    justify-content:center; 
    color: rgb(196, 6, 6);
    background-color:rgb(20, 255, 39);
    margin-left:50%;
    width:70px;
    height:30px;
    padding:10px;
}
